@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Noto Sans';
    
}

body *{
    box-sizing: border-box;
}

.main{
    background-color: rgb(49, 37, 60);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;

}

.left h1{
    color: #27E2B8;
    font-size: 3vw;
 
}

.left img{
    width: 30vw;
   
}



.right{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    

}

.login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #453e57;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.355);

}

.login h1{
    color: #00F575;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.355);
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}


button{
    padding: 16px 0px;
    color: #2b134b;
    background-color: #00F575;
    letter-spacing: 3px;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin: 25px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;

}

@media only screen and (max-width: 950px) {
    .login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
     .main{
        flex-direction: column;
     }

     .left > h1{
        display: none;
        
     }

     .left{
        width: 100%;
        height: auto;
     }

     .right{
       width: 100%;
       height: auto;
     }

     .left img{
        width: 50vw;
     }

     .login{
        width: 90%;
     }

}
